input {
    height: 25px;
    border: 3px solid red;
    border-radius: 20px;
    text-align: center;
    width: 210px;
    bottom: 50px;
    position: relative;
}


  .buscador {
    display: flex;
    justify-content: center;
}