ol {
  list-style: none;
}

.card {
  background: antiquewhite;
  width: 215px;
  border-radius: 15%;
  list-style: none;
  padding: 40px;
  color: #222;
  text-align: center;
  background-position: center;
  height: 297px;
  background-size: contain;
}

.card-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0;
}

.card-subtitle {
  font-weight: lighter;
  color: #666;
  margin-top: 5px;
  text-transform: capitalize;
}

.card-image {
  height: 180px;
}

#pokedex {
  padding-inline-start: 0;
  display: flex;

  grid-gap: 48px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
